 scrivere un programma che permetta all'utente di inserire tre valori e visualizzi quello intermedio.

In [ ]:
n1,n2,n3 = int(input()),int(input()),int(input())
if n3<n1<n2 or n3>n1>n2:
  print(n1)
elif n3<n1<n2 or n3>n1>n2:
    print(n2)
else:
      print(n3)

In [ ]:
lst=[int(n) for n in input().split()]
lst.sort()
print(lst)
if len(lst)%2 == 1:
  print(lst[(len(lst)+1)//2-1])
else:
  print((lst[len(lst)//2-1]+lst[len(lst)//2])/2)

7 5 9 1 4 6 3 6
[1, 3, 4, 5, 6, 6, 7, 9]
5.5

In [ ]:
stringa = input()
print(stringa)
x = stringa.split()
print(x)
y = list(map(int,x)
print(y)

In [ ]:
lst = list(map(int,input().split()))
M = int(input())
lst2 = [el for el in lst if el % M == 0]
print(lst)
print(lst2)

10 20 30 18
10
[10, 20, 30, 18]
[10, 20, 30]

In [ ]:
nomi = input().split()
num = input().split()
d = dict(zip(nomi,num))
d.items()

mario luca ugo
123 123 231

dict_items([('mario', '123'), ('luca', '123'), ('ugo', '231')])

In [ ]:
n = int(input())
d = {}
for i in range(n):
  data = input('inserisci nome nome e num')
  temp = data.split()
  d[temp[0]] = temp[1]
d

2
nomemario 321615
nomeluca 416514621

{'luca': '416514621', 'mario': '321615'}

In [ ]:
nome = input()
print(d[nome])

In [ ]:
def volume(r,h)
  return a*h

r = int(input())
h = int(input())
v = volume(r,h)
print(v)

SyntaxError: ignored