# Groupby operations

Some imports:

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
try:
    import seaborn
except ImportError:
    pass

## And now applying this on some real data

`cast` dataset: different roles played by actors/actresses in films

- title: title of the film
- name: name of the actor/actress
- type: actor/actress
- n: the order of the role (n=1: leading role)

File csv da scaricare da questo [link](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view)

In [ ]:
titles = pd.read_csv('titles.csv')
titles

                                       title  year
0                             The Rising Son  1990
1                    The Thousand Plane Raid  1969
2                           Crucea de piatra  1993
3                                    Country  2000
4                                 Gaiking II  2011
...                                      ...   ...
232325                                 E yue  2005
232326                          Lakota Girls  2015
232327                        Kroniki domowe  1997
232328                  Awakening the Zodiac  2017
232329  Death in the Valley of Good and Evil  2018

[232330 rows x 2 columns]

In [ ]:
cast = pd.read_csv('cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

<div class="alert alert-success">
    <b>EXERCISE</b>: Usa groupby(), crea un plot dei numeri di film rilasciati per ciascun decenio nella storia del cinema.
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations8.py

<div class="alert alert-success">
    <b>EXERCISE</b>: Usa groupby() per creare un plot dei numeri di film di "Hemlet" creati ogni decenio.
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations9.py

<div class="alert alert-success">
    <b>EXERCISE</b>: Quanti ruoli principali (n=1) erano disponibili per gli attori, e quanti per le attrici,in ogni anno degli anni 50?
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations10.py

<div class="alert alert-success">
    <b>EXERCISE</b>:Elenca i 10 attori/attrici che hanno avuto il maggior numero di ruoli principali(n=1) dai anni 90.
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations11.py

<div class="alert alert-success">
    <b>EXERCISE</b>:Usa groupby() per dereminare quanti ruoli sono elencati per ciascun film di Pink Panther.
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations12.py

<div class="alert alert-success">
    <b>EXERCISE</b>: Elenca, per ordine cronologico, ciascun film dove Frank Oz ha lavorato a piu di un ruolo
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations13.py

<div class="alert alert-success">
    <b>EXERCISE</b>:Elenca ciascun personaggio che Frank Oz ha raffigurato almeno 2 volte.
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations15.py

## Transforms

Sometimes you don't want to aggregate the groups, but transform the values in each group. This can be achieved with `transform`:

In [ ]:
df

In [ ]:
df.groupby('key').transform('mean')

In [ ]:
def normalize(group):
    return (group - group.mean()) / group.std()

In [ ]:
df.groupby('key').transform(normalize)

In [ ]:
df.groupby('key').transform('sum')

<div class="alert alert-success">
    <b>EXERCISE</b>: Add a column to the `cast` dataframe that indicates the number of roles for the film.
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations21.py

<div class="alert alert-success">
    <b>EXERCISE</b>: Calculate the ratio of leading actor and actress roles to the total number of leading roles per decade.     
</div>

Tip: you can to do a groupby twice in two steps,  once calculating the numbers, and then the ratios.

In [ ]:
# %load snippets/04b - Advanced groupby operations22.py

In [ ]:
# %load snippets/04b - Advanced groupby operations23.py

In [ ]:
# %load snippets/04b - Advanced groupby operations24.py

## Intermezzo: string manipulations

Python strings have a lot of useful methods available to manipulate or check the content of the string:

In [ ]:
s = 'Bradwurst'

In [ ]:
s.startswith('B')

In pandas, those methods (together with some additional methods) are also available for string Series through the `.str` accessor:

In [ ]:
s = pd.Series(['Bradwurst', 'Kartoffelsalat', 'Sauerkraut'])

In [ ]:
s.str.startswith('B')

For an overview of all string methods, see: http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling

<div class="alert alert-success">
    <b>EXERCISE</b>: We already plotted the number of 'Hamlet' films released each decade, but not all titles are exactly called 'Hamlet'. Give an overview of the titles that contain 'Hamlet', and that start with 'Hamlet':
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations29.py

In [ ]:
# %load snippets/04b - Advanced groupby operations30.py

<div class="alert alert-success">
    <b>EXERCISE</b>: List the 10 movie titles with the longest name.
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations31.py

In [ ]:
# %load snippets/04b - Advanced groupby operations32.py

## Value counts

A useful shortcut to calculate the number of occurences of certain values is `value_counts` (this is somewhat equivalent to `df.groupby(key).size())`)

For example, what are the most occuring movie titles?

In [ ]:
titles.title.value_counts().head()

<div class="alert alert-success">
    <b>EXERCISE</b>: Which years saw the most films released?
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations34.py

<div class="alert alert-success">
    <b>EXERCISE</b>: Plot the number of released films over time
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations35.py

<div class="alert alert-success">
    <b>EXERCISE</b>: Plot the number of "Hamlet" films made each decade.
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations36.py

<div class="alert alert-success">
    <b>EXERCISE</b>: What are the 11 most common character names in movie history?
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations37.py

<div class="alert alert-success">
    <b>EXERCISE</b>: Which actors or actresses appeared in the most movies in the year 2010?
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations38.py

<div class="alert alert-success">
    <b>EXERCISE</b>: Plot how many roles Brad Pitt has played in each year of his career.
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations39.py

<div class="alert alert-success">
    <b>EXERCISE</b>: What are the 10 most film titles roles that start with the word "The Life"?
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations40.py

<div class="alert alert-success">
    <b>EXERCISE</b>: How many leading (n=1) roles were available to actors, and how many to actresses, in the 1950s? And in 2000s?
</div>

In [ ]:
# %load snippets/04b - Advanced groupby operations41.py

In [ ]:
# %load snippets/04b - Advanced groupby operations42.py