1. Collegarsi al proprio database (indicare sommariamente la stringa di connessione) e scaricare in un
dataframe la collection chiamata “comuni_italiani”. Visualizzare il dataframe.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import pymongo
import numpy as np

In [ ]:
import pandas as pd
df=pd.read_json("https://raw.githubusercontent.com/wtitze/4E/main/comuni_italiani.json")
df

                                       _id  ... Ripartizione geografica
0     {'$oid': '619f9ec67727bc651542bb9f'}  ...              Nord-ovest
1     {'$oid': '619f9ec67727bc651542bba0'}  ...              Nord-ovest
2     {'$oid': '619f9ec67727bc651542bba1'}  ...              Nord-ovest
3     {'$oid': '619f9ec67727bc651542bba2'}  ...              Nord-ovest
4     {'$oid': '619f9ec67727bc651542bba3'}  ...              Nord-ovest
...                                    ...  ...                     ...
7902  {'$oid': '619f9ec67727bc651542da7d'}  ...                   Isole
7903  {'$oid': '619f9ec67727bc651542da7e'}  ...                   Isole
7904  {'$oid': '619fa3557727bc651542da80'}  ...              Nord-ovest
7905  {'$oid': '619fa3c57727bc651542da81'}  ...                Nord-est
7906  {'$oid': '619fa3e77727bc651542da82'}  ...                   Isole

[7907 rows x 5 columns]

2. Eliminare la colonna ‘_id’ e rinominare le altre colonne in modo che sia più semplice utilizzarle.
Chiamarle ‘nome’, ‘provincia’, ‘regione’ e ‘area’

In [ ]:
#df.drop(columns=['_id'])
df.rename(columns={"Denominazione in italiano":"nome","Provincia":"provincia","Denominazione Regione":"regione","Ripartizione geografica":"area"})
df.drop(columns=['_id'])

     Denominazione in italiano  ... Ripartizione geografica
0                        Agliè  ...              Nord-ovest
1                      Airasca  ...              Nord-ovest
2                 Ala di Stura  ...              Nord-ovest
3              Albiano d'Ivrea  ...              Nord-ovest
4                       Almese  ...              Nord-ovest
...                        ...  ...                     ...
7902                  Villasor  ...                   Isole
7903             Villaspeciosa  ...                   Isole
7904                       NaN  ...              Nord-ovest
7905                       NaN  ...                Nord-est
7906                       NaN  ...                   Isole

[7907 rows x 4 columns]

3. Scrivere un breve programma per controllare se ci sono comuni che non hanno il nome. Se ci sono
visualizzare il messaggio “Ci sono &lt;n&gt; comuni senza nome” ed eliminarli. Se non ci sono, visualizzare il
messaggio “Tutti i comuni hanno il proprio nome”

4. Creare un dataframe contenente il numero di comuni per ogni ripartizione geografica. La colonna del
conteggio deve chiamarsi &#39;totale&#39; e nel dataframe non devono essere presenti altre colonne

In [ ]:
total = total.groupby(['area']).count()[['nome']].rename(columns={'nome':'total'})
total

NameError: ignored