In [ ]:
import pandas as pd

1. caricare i dati in un dataframe

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/uffici_postali_milano.csv")
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]

2. visualizzare solo la prima colonna

In [ ]:
df.iloc[:,0]

0       BASTIONI DI PORTA VOLTA 7
1     CORSO DI PORTA VIGENTINA 35
2                  CORSO ITALI 16
3               CORSO SEMPIONE 94
4                CORSO VENEZIA 42
                 ...
77                VIALE GORIZIA 6
78         VIALE MONTE CENERI SNC
79            VIALE SABOTINO 21/A
80         VIALE SAN GIMIGNANO 10
81                 VIALE ZARA 131
Name: Indirizzo, Length: 82, dtype: object

3. visualizzare solo l'ultima colonna

In [ ]:
df.iloc[:,-1]

0      (45.47960100000006;9.182151000000033)
1      (45.45253800000006;9.196519500000022)
2      (45.45789300000007;9.187470000000076)
3       (45.48654000000005;9.15850800000004)
4      (45.47186100000005;9.202702500000044)
                       ...
77    (45.454518000000064;9.173155500000064)
78     (45.49156751800007;9.153591732000052)
79    (45.451017000000036;9.200173500000062)
80    (45.455868000000066;9.136525500000062)
81     (45.50019300000008;9.196686000000057)
Name: Location, Length: 82, dtype: object

In [ ]:
df["Location"]

0      (45.47960100000006;9.182151000000033)
1      (45.45253800000006;9.196519500000022)
2      (45.45789300000007;9.187470000000076)
3       (45.48654000000005;9.15850800000004)
4      (45.47186100000005;9.202702500000044)
                       ...
77    (45.454518000000064;9.173155500000064)
78     (45.49156751800007;9.153591732000052)
79    (45.451017000000036;9.200173500000062)
80    (45.455868000000066;9.136525500000062)
81     (45.50019300000008;9.196686000000057)
Name: Location, Length: 82, dtype: object

4. visualizzare le colonne dalle terza alla quinta

In [ ]:
df.iloc[:,3:6]

      CAP  MUNICIPIO  ID_NIL
0   20121          1       2
1   20122          1       5
2   20122          1       1
3   20154          8      69
4   20121          1       4
..    ...        ...     ...
77  20144          6      44
78  20155          8      71
79  20135          5      27
80  20146          6      52
81  20159          9      12

[82 rows x 3 columns]

5. visualizzare la terza e la sesta colonna

In [ ]:
df.iloc[:,[3,6]]

      CAP                                  NIL
0   20121                                BRERA
1   20122     PORTA VIGENTINA - PORTA LODOVICA
2   20122                                DUOMO
3   20154                                SARPI
4   20121                            GUASTALLA
..    ...                                  ...
77  20144           PORTA TICINESE - CONCHETTA
78  20155  VILLAPIZZONE - CAGNOLA - BOLDINASCO
79  20135                           PTA ROMANA
80  20146                           BANDE NERE
81  20159              MACIACHINI - MAGGIOLINA

[82 rows x 2 columns]

6. visualizzare la colonna dell'indirizzo e del municipio

In [ ]:
df[["Indirizzo","MUNICIPIO"]]

                      Indirizzo  MUNICIPIO
0     BASTIONI DI PORTA VOLTA 7          1
1   CORSO DI PORTA VIGENTINA 35          1
2                CORSO ITALI 16          1
3             CORSO SEMPIONE 94          8
4              CORSO VENEZIA 42          1
..                          ...        ...
77              VIALE GORIZIA 6          6
78       VIALE MONTE CENERI SNC          8
79          VIALE SABOTINO 21/A          5
80       VIALE SAN GIMIGNANO 10          6
81               VIALE ZARA 131          9

[82 rows x 2 columns]

visualizzare la prima riga

In [ ]:
df.head(1)

                   Indirizzo  ...                               Location
0  BASTIONI DI PORTA VOLTA 7  ...  (45.47960100000006;9.182151000000033)

[1 rows x 10 columns]

8. visualizzare l'ultima riga

In [ ]:
df.tail(1)

         Indirizzo  ...                               Location
81  VIALE ZARA 131  ...  (45.50019300000008;9.196686000000057)

[1 rows x 10 columns]

9. visualizzare la riga centrale

In [ ]:
df.loc[]

10. visualizzare le righe 3, 4 e 12

In [ ]:
df.iloc[[3,4,12],:]

             Indirizzo  ...                               Location
3    CORSO SEMPIONE 94  ...   (45.48654000000005;9.15850800000004)
4     CORSO VENEZIA 42  ...  (45.47186100000005;9.202702500000044)
12  VIA APPENNINI 77/A  ...  (45.50207400000005;9.104292000000044)

[3 rows x 10 columns]

11. visualizzare le righe dalla decima alla quindicesima

In [ ]:
df.iloc[10:16,:]

                       Indirizzo  ...                                Location
10  VIA ALFREDO CAPPELLINI 17/19  ...   (45.48195000000004;9.201735000000042)
11        VIA ANDREA VOCHIERI 12  ...   (45.51414300000005;9.168682500000045)
12            VIA APPENNINI 77/A  ...   (45.50207400000005;9.104292000000044)
13                 VIA ARQUA' 14  ...    (45.49287600000008;9.22771350000005)
14        VIA BENOZZO GOZZOLI 51  ...   (45.45560700000004;9.090990000000033)
15             VIA BOVISASCA 173  ...  (45.519456269000045;9.152854782000077)

[6 rows x 10 columns]

12. visualizzare la colonna indirizzo e NIL delle righe dalla decima alla quindicesima

In [ ]:
df.iloc[10:16,:][["Indirizzo","NIL"]]

                       Indirizzo                                                NIL
10  VIA ALFREDO CAPPELLINI 17/19                   STAZIONE CENTRALE - PONTE SEVESO
11        VIA ANDREA VOCHIERI 12                                             AFFORI
12            VIA APPENNINI 77/A  Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO
13                 VIA ARQUA' 14                          LORETO - CASORETTO - NOLO
14        VIA BENOZZO GOZZOLI 51           BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA
15             VIA BOVISASCA 173                                          BOVISASCA

13. visualizzare le colonne telefono e fax delle righe 3, 5 e 12

In [ ]:
df.iloc[[3,5,12],:][["Telefono","Fax"]]

      Telefono          Fax
3          NaN          NaN
5  02-47714011  02-47714047
1  02-58320771  02-58319779

14. visualizzare le colonne dalla 2 alla 6 delle righe dalla 3 alla 10

In [ ]:
df.iloc[:,2:7][3:11]

            Fax    CAP  MUNICIPIO  ID_NIL                               NIL
3           NaN  20154          8      69                             SARPI
4    02-7837251  20121          1       4                         GUASTALLA
5   02-47714047  20146          6      49                       GIAMBELLINO
6   02-42255247  20146          6      49                       GIAMBELLINO
7    02-3271232  20148          8      66                              QT 8
8   02-37790947  20158          9      78                            FARINI
9   02-26680123  20131          3      22                      CITTA' STUDI
10  02-67733147  20124          2      10  STAZIONE CENTRALE - PONTE SEVESO

15. visualizzare il numero di telefono dell'ufficio di piazza Napoli