In [ ]:


import pymongo 
import pandas as pd

In [ ]:
client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_supplies
db

Database(MongoClient(host=['cluster0-shard-00-01.algwo.mongodb.net:27017', 'cluster0-shard-00-02.algwo.mongodb.net:27017', 'cluster0-shard-00-00.algwo.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-am4cb3-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'sample_supplies')

In [ ]:
df = db.sales.find_one()
df

{'_id': ObjectId('5bd761dcae323e45a93ccfe8'),
 'couponUsed': True,
 'customer': {'age': 42,
  'email': 'cauho@witwuta.sv',
  'gender': 'M',
  'satisfaction': 4},
 'items': [{'name': 'printer paper',
   'price': Decimal128('40.01'),
   'quantity': 2,
   'tags': ['office', 'stationary']},
  {'name': 'notepad',
   'price': Decimal128('35.29'),
   'quantity': 2,
   'tags': ['office', 'writing', 'school']},
  {'name': 'pens',
   'price': Decimal128('56.12'),
   'quantity': 5,
   'tags': ['writing', 'office', 'school', 'stationary']},
  {'name': 'backpack',
   'price': Decimal128('77.71'),
   'quantity': 2,
   'tags': ['school', 'travel', 'kids']},
  {'name': 'notepad',
   'price': Decimal128('18.47'),
   'quantity': 2,
   'tags': ['office', 'writing', 'school']},
  {'name': 'envelopes',
   'price': Decimal128('19.95'),
   'quantity': 8,
   'tags': ['stationary', 'office', 'general']},
  {'name': 'envelopes',
   'price': Decimal128('8.08'),
   'quantity': 3,
   'tags': ['stationary', 'office', 'general']},
  {'name': 'binder',
   'price': Decimal128('14.16'),
   'quantity': 3,
   'tags': ['school', 'general', 'organization']}],
 'purchaseMethod': 'Online',
 'saleDate': datetime.datetime(2015, 3, 23, 21, 6, 49, 506000),
 'storeLocation': 'Denver'}

In [ ]:
df = pd.DataFrame.from_records(db.sales.find())
df

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,5bd761dcae323e45a93cd005,2016-05-16 01:49:20.963,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 49, 'email': 'me@lih.st...",False,Phone
1,5bd761dcae323e45a93cd025,2017-03-04 12:20:24.104,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 57, 'email': 'hegbif@lu...",False,Online
2,5bd761dcae323e45a93cd015,2017-09-01 20:38:29.109,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 52, 'email': 'apokas@mi...",False,Online
3,5bd761dcae323e45a93cd0c4,2013-08-28 08:43:34.725,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'M', 'age': 43, 'email': 'jul@oruso...",False,In store
4,5bd761dcae323e45a93cd0ed,2015-10-09 10:57:23.855,"[{'name': 'backpack', 'tags': ['school', 'trav...",Austin,"{'gender': 'M', 'age': 59, 'email': 'fag@uv.mw...",False,Online
...,...,...,...,...,...,...,...
559,5bd761deae323e45a93ce29e,2014-03-03 15:44:24.543,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 36, 'email': 'mat@ni.pf...",False,In store
560,5bd761deae323e45a93ce2ac,2014-11-05 16:34:23.276,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 47, 'email': 'ir@rartaw...",False,Online
561,5bd761deae323e45a93ce34b,2014-04-16 05:45:52.051,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 47, 'email': 'beihadu@k...",False,In store
562,5bd761deae323e45a93ce23e,2017-10-28 02:34:49.366,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'F', 'age': 50, 'email': 'dujum@kep...",False,In store
563,5bd761deae323e45a93ce35b,2017-07-12 06:54:17.918,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 19, 'email': 'mohofri@c...",False,In store

In [ ]:
client = pymongo.MongoClient(
    "mongodb://khaled:33311Ee9@cluster0-shard-00-00.2e0wc.mongodb.net:27017,cluster0-shard-00-01.2e0wc.mongodb.net:27017,cluster0-shard-00-02.2e0wc.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-3iutc4-shard-0&authSource=admin&retryWrites=true&w=majority")
db2 = client.Elshahat

In [ ]:
'''db2.vendite.insert_many(df.to_dict('records'))'''

"db2.vendite.insert_many(df.to_dict('records'))"

In [ ]:
df1 = pd.DataFrame(list(db2.vendite.find()))
df1

1. cancellare tutti i document relativi al negozio di San Diego

In [ ]:
result = db2.vendite.delete_many({'storeLocation':'San Diego'})
result.deleted_count

0

In [ ]:
df1

2. invecchiare i clienti di 8 anni

In [ ]:
result = db2.vendite.update_many({},{"$inc" : {"costumer.age": 8}})
result.modified_count

4654

In [ ]:
df1

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod,costumer
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 42, 'email': 'cauho@wit...",True,Online,{'age': 16}
1,5bd761dcae323e45a93cd005,2016-05-16 01:49:20.963,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 49, 'email': 'me@lih.st...",False,Phone,{'age': 16}
2,5bd761dcae323e45a93cd006,2017-02-06 11:18:38.404,[],Denver,"{'gender': 'M', 'age': 60, 'email': 'du@il.ug'...",False,In store,{'age': 16}
3,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 50, 'email': 'keecade@h...",False,Phone,{'age': 16}
4,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store,{'age': 16}
...,...,...,...,...,...,...,...,...
4649,5bd761deae323e45a93ce309,2016-12-30 12:55:04.174,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'F', 'age': 39, 'email': 'oz@iperit...",False,In store,{'age': 16}
4650,5bd761deae323e45a93ce353,2016-10-14 10:46:40.551,[],London,"{'gender': 'F', 'age': 44, 'email': 'zowna@heb...",False,Online,{'age': 16}
4651,5bd761deae323e45a93ce35b,2017-07-12 06:54:17.918,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'F', 'age': 19, 'email': 'mohofri@c...",False,In store,{'age': 16}
4652,5bd761deae323e45a93ce362,2015-02-21 11:09:51.197,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 38, 'email': 'ti@buheno...",False,In store,{'age': 16}
4653,5bd761deae323e45a93ce36f,2014-08-18 06:25:49.739,"[{'name': 'binder', 'tags': ['school', 'genera...",New York,"{'gender': 'M', 'age': 33, 'email': 'lihzodud@...",False,Online,{'age': 16}

3. cancellare tutti i tag 'stationary'

In [ ]:
result = db2.vendite.update_many({},{"$pull" : {"items" :{ "tags": "stationary"}}})
result.modified_count

0

In [ ]:
df1

4. eliminare tutti i document di clienti che hanno più di 80 anni e meno di 40

In [ ]:
result = db2.vendite.delete_many({'$or': [{"customer.age" : {'$gt' : 80 }} , {"customer.age" : {'$lt' : 40 }}]})
result.deleted_count

1817

5. calcolare il prezzo medio degli items

In [ ]:
result = db2.vendite.aggregate([{"$unwind": "$items"},
                                {"$group": {"_id": "prezzo medio", "prezzoMedio": {"$avg":"$items.price"}}}
])

df1 = pd.DataFrame(list(result))
df1

            _id                          prezzoMedio
0  prezzo medio  174.3109930465015210777922642329422

6. modificare le mail che hanno il dominio .mz in .com

In [ ]:
result = db2.vendite.update_many({ "customer.email": { "$regex": ".mz$" } },
                                 [{"$set": { "customer.email": {"$replaceOne": { "input": "$email", "find": ".mz", "replacement": ".com" }}}}])
result.modified_count

7

In [ ]:
result = db2.vendite.find({ "customer.email": { "$regex": ".mz" } })
df1 = pd.DataFrame(list(result))
df1

Empty DataFrame
Columns: []
Index: []

7. modificare il tag 'school' in 'education'

In [ ]:
result = db2.vendite.find({ "items.tags": { "$regex": "school" } })
df1 = pd.DataFrame(list(result))
df1

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod,costumer
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 42, 'email': 'cauho@wit...",True,Online,{'age': 24}
1,5bd761dcae323e45a93cd005,2016-05-16 01:49:20.963,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 49, 'email': 'me@lih.st...",False,Phone,{'age': 24}
2,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'M', 'age': 50, 'email': 'keecade@h...",False,Phone,{'age': 24}
3,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store,{'age': 24}
4,5bd761dcae323e45a93ccfef,2014-03-31 16:02:06.624,"[{'name': 'notepad', 'tags': ['office', 'writi...",Austin,"{'gender': 'M', 'age': 71, 'email': 'man@bob.c...",False,Online,{'age': 24}
...,...,...,...,...,...,...,...,...
2677,5bd761deae323e45a93ce273,2015-01-02 16:29:41.368,"[{'name': 'notepad', 'tags': ['office', 'writi...",Seattle,"{'gender': 'F', 'age': 74, 'email': 'ce@zugij....",False,In store,{'age': 24}
2678,5bd761deae323e45a93ce295,2016-06-16 09:35:35.525,"[{'name': 'backpack', 'tags': ['school', 'trav...",Seattle,"{'gender': 'M', 'age': 55, 'email': 'hud@we.ve...",True,In store,{'age': 24}
2679,5bd761deae323e45a93ce299,2013-01-20 09:43:32.461,"[{'name': 'backpack', 'tags': ['school', 'trav...",New York,"{'gender': 'F', 'age': 73, 'email': 'na@fujre....",False,In store,{'age': 24}
2680,5bd761deae323e45a93ce2cb,2013-03-07 07:10:53.504,"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 68, 'email': 'fibernep@...",False,Online,{'age': 24}
2681,5bd761deae323e45a93ce2f5,2013-11-29 20:26:51.691,"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'F', 'age': 71, 'email': 'cedraztum...",False,Online,{'age': 24}

In [ ]:
result = db2.vendite.update_many({ "items.tags": { "$regex": "school" } },
                                 [{"$set": { "items.tags": {"$replaceOne": { "input": "$tags", "find": "school", "replacement": "education" }}}}])
result.modified_count

2682

8. aggiungere 7 anni alla data degli ordini

In [ ]:
result = db2.vendite.update_many({"$dateAdd":{"$startDate": "$saleDate","$unit": "day","$amount": 2555,"$timezone": "$datetime"
                                    }
                              })
result.modified_count

NameError: ignored

9. trovare il prodotto venduto più costoso

10. eliminare dagli ordini tutti i prodotti "envelopes"