In [ ]:
import pymongo 
import pandas as pd

In [ ]:
client = pymongo.MongoClient(
    "mongodb://khaled:33311Ee9@cluster0-shard-00-00.2e0wc.mongodb.net:27017,cluster0-shard-00-01.2e0wc.mongodb.net:27017,cluster0-shard-00-02.2e0wc.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-3iutc4-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.Elshahat

In [ ]:
#insert

In [ ]:
import datetime
post = {"author": "Mike",
        "text": "My first blog post!",
        "tags": ["mongodb", "python", "pymongo"],
        "date": datetime.datetime.utcnow()}

In [ ]:
import datetime
post = {"author": "Mike",
        "text": "My first blog post!",
        "tags": ["mongodb", "python", "pymongo"],
        "date": datetime.datetime.utcnow()}

In [ ]:
posts = db.posts
post_id = posts.insert_one(post).inserted_id
post_id

ObjectId('62458f5c3af2b85f501376a8')

In [ ]:
new_posts = [{"author": "Mike",
              "text": "Another post!",
              "tags": ["bulk", "insert"],
              "date": datetime.datetime(2009, 11, 12, 11, 14)},
             {"author": "Eliot",
              "title": "MongoDB is fun",
              "text": "and pretty easy too!",
              "date": datetime.datetime(2009, 11, 10, 10, 45)}]

In [ ]:
result = posts.insert_many(new_posts).inserted_ids
result

[ObjectId('62458fa23af2b85f501376a9'), ObjectId('62458fa23af2b85f501376aa')]

In [ ]:
result=db.posts.find({})
df = pd.DataFrame(list(result))
df

,_id,author,text,tags,date,title
0,62458f5c3af2b85f501376a8,Mike,My first blog post!,"[mongodb, python, pymongo]",2022-03-31 11:23:44.094,NaN
1,62458fa23af2b85f501376a9,Mike,Another post!,"[bulk, insert]",2009-11-12 11:14:00.000,NaN
2,62458fa23af2b85f501376aa,Eliot,and pretty easy too!,NaN,2009-11-10 10:45:00.000,MongoDB is fun

In [ ]:
from bson.objectid import ObjectId
df1 = pd.DataFrame(list(db.posts.find({'_id': ObjectId('62458f5c3af2b85f501376a8')})))
df1

,_id,author,text,tags,date
0,62458f5c3af2b85f501376a8,Mike,My first blog post!,"[mongodb, python, pymongo]",2022-03-31 11:23:44.094

In [ ]:
result = db.posts.update_one({"_id": ObjectId('62458f5c3af2b85f501376a8')},{"$set":{"text":"post changed"}})
result.modified_count

1

In [ ]:
result = db.posts.update_many({"author":"Mike"},{"$set":{"author":"post changed"}})
result.modified_count

2

In [ ]:
result = db.posts.update_many({"_id": ObjectId('62458f5c3af2b85f501376a8')},{"$push":{"tags":"append"}}) #push inserisce
result.modified_count

1

In [ ]:
result = db.posts.update_many({"_id": ObjectId('62458f5c3af2b85f501376a8')},{"$pull":{"tags":"append"}}) #pull tira fuori
result.modified_count

1

In [ ]:
result = db.posts.delete_one({'author':'Michael'})
result.deleted_count

1

In [ ]:
result = db.posts.delete_many({'author':'Eliot'})
result.deleted_count

1