In [ ]:
import pymongo

In [ ]:
# stringa di connessione 3.4 recuperata da Atlas https://www.mongodb.com/cloud/atlas/register
client = pymongo.MongoClient(
    "mongodb://webUser:xxx123xxx@cluster0-shard-00-00.algwo.mongodb.net:27017,cluster0-shard-00-01.algwo.mongodb.net:27017,cluster0-shard-00-02.algwo.mongodb.net:27017/?ssl=true&replicaSet=atlas-am4cb3-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sample_airbnb # nome del database

In [ ]:
import pandas as pd

In [ ]:

doc = db.listingsAndReviews.find_one()
doc

{'_id': '10082422',
 'access': 'Ideal couple or 2 friends.',
 'accommodates': 2,
 'address': {'country': 'Spain',
  'country_code': 'ES',
  'government_area': "la Dreta de l'Eixample",
  'location': {'coordinates': [2.16942, 41.40082],
   'is_location_exact': True,
   'type': 'Point'},
  'market': 'Barcelona',
  'street': 'Barcelona, Catalunya, Spain',
  'suburb': 'Eixample'},
 'amenities': ['Internet',
  'Wifi',
  'Kitchen',
  'Elevator',
  'Heating',
  'Washer',
  'Shampoo',
  'Hair dryer',
  'Iron',
  'Laptop friendly workspace'],
 'availability': {'availability_30': 0,
  'availability_365': 0,
  'availability_60': 0,
  'availability_90': 0},
 'bathrooms': Decimal128('1.0'),
 'bed_type': 'Real Bed',
 'bedrooms': 1,
 'beds': 2,
 'calendar_last_scraped': datetime.datetime(2019, 3, 8, 5, 0),
 'cancellation_policy': 'flexible',
 'cleaning_fee': Decimal128('10.00'),
 'description': "Hi!  Cozy double bed room in amazing flat next to Passeig de Sant Joan and to metro stop Verdaguer. 3 streets to Sagrada Familia and 4 streets to Passeig de Gracia. Flat located in the center of the city.  View to Sagrada Familia and Torre Agbar. Nice flat in the central neighboorhood of Eixample. Ideal couple or 2 friends. Dreta de l'Eixample",
 'extra_people': Decimal128('0.00'),
 'guests_included': Decimal128('1'),
 'host': {'host_about': "I'm Anna, italian. I'm 28, friendly and easygoing.  I love travelling, reading, dancing tango. Can wait to meet new people! :)",
  'host_has_profile_pic': True,
  'host_id': '30393403',
  'host_identity_verified': False,
  'host_is_superhost': False,
  'host_listings_count': 1,
  'host_location': 'Barcelona, Catalonia, Spain',
  'host_name': 'Anna',
  'host_neighbourhood': "Dreta de l'Eixample",
  'host_picture_url': 'https://a0.muscache.com/im/users/30393403/profile_pic/1427876639/original.jpg?aki_policy=profile_x_medium',
  'host_thumbnail_url': 'https://a0.muscache.com/im/users/30393403/profile_pic/1427876639/original.jpg?aki_policy=profile_small',
  'host_total_listings_count': 1,
  'host_url': 'https://www.airbnb.com/users/show/30393403',
  'host_verifications': ['phone', 'facebook']},
 'house_rules': '',
 'images': {'medium_url': '',
  'picture_url': 'https://a0.muscache.com/im/pictures/aed1923a-69a6-4614-99d0-fd5c8f41ebda.jpg?aki_policy=large',
  'thumbnail_url': '',
  'xl_picture_url': ''},
 'interaction': '',
 'last_scraped': datetime.datetime(2019, 3, 8, 5, 0),
 'listing_url': 'https://www.airbnb.com/rooms/10082422',
 'maximum_nights': '9',
 'minimum_nights': '1',
 'name': 'Nice room in Barcelona Center',
 'neighborhood_overview': "Dreta de l'Eixample",
 'notes': '',
 'number_of_reviews': 0,
 'price': Decimal128('50.00'),
 'property_type': 'Apartment',
 'review_scores': {},
 'reviews': [],
 'room_type': 'Private room',
 'security_deposit': Decimal128('100.00'),
 'space': 'Nice flat in the central neighboorhood of Eixample.',
 'summary': 'Hi!  Cozy double bed room in amazing flat next to Passeig de Sant Joan and to metro stop Verdaguer. 3 streets to Sagrada Familia and 4 streets to Passeig de Gracia. Flat located in the center of the city.  View to Sagrada Familia and Torre Agbar.',
 'transit': ''}

In [ ]:
df1 = pd.DataFrame(list(db.listingsAndReviews.find()))
df1.head(2)

        _id  ... reviews_per_month
0  10082422  ...               NaN
1  10006546  ...               NaN

[2 rows x 42 columns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    5555 non-null   object
 1   listing_url            5555 non-null   object
 2   name                   5555 non-null   object
 3   summary                5555 non-null   object
 4   space                  5555 non-null   object
 5   description            5555 non-null   object
 6   neighborhood_overview  5555 non-null   object
 7   notes                  5555 non-null   object
 8   transit                5555 non-null   object
 9   access                 5555 non-null   object
 10  interaction            5555 non-null   object
 11  house_rules            5555 non-null   object
 12  property_type          5555 non-null   object
 13  room_type              5555 non-null   object
 14  bed_type               5555 non-null   object
 15  minimum_nights         5555 non-null   object
 16  maximum_nights         5555 non-null   object
 17  cancellation_policy    5555 non-null   object
 18  last_scraped           5555 non-null   datetime64[ns]
 19  calendar_last_scraped  5555 non-null   datetime64[ns]
 20  accommodates           5555 non-null   int64
 21  bedrooms               5550 non-null   float64
 22  beds                   5542 non-null   float64
 23  number_of_reviews      5555 non-null   int64
 24  bathrooms              5545 non-null   object
 25  amenities              5555 non-null   object
 26  price                  5555 non-null   object
 27  security_deposit       3471 non-null   object
 28  cleaning_fee           4024 non-null   object
 29  extra_people           5555 non-null   object
 30  guests_included        5555 non-null   object
 31  images                 5555 non-null   object
 32  host                   5555 non-null   object
 33  address                5555 non-null   object
 34  availability           5555 non-null   object
 35  review_scores          5555 non-null   object
 36  reviews                5555 non-null   object
 37  first_review           4167 non-null   datetime64[ns]
 38  last_review            4167 non-null   datetime64[ns]
 39  weekly_price           714 non-null    object
 40  monthly_price          656 non-null    object
 41  reviews_per_month      94 non-null     float64
dtypes: datetime64[ns](4), float64(3), int64(2), object(33)
memory usage: 1.8+ MB

Estrarre dalla collection le informazioni richieste:

In [ ]:
# gli appartamenti che costano più di 100 $ a notte
result = db.listingsAndReviews.find({"price": {'$gt' : 100 }})
df2 = pd.DataFrame(list(result))
df2.head(3)

        _id  ... reviews_per_month
0  10051164  ...               NaN
1  10059872  ...               NaN
2  10066928  ...               NaN

[3 rows x 42 columns]

In [ ]:
# gli appartamenti che costano tra i 100 $ e i 200 $ a notte

result = db.listingsAndReviews.find({"price": {'$gt' : 100, '$lt' : 200}})
df3 = pd.DataFrame(list(result))
df3.head(3)

        _id  ... reviews_per_month
0  10066928  ...               NaN
1   1003530  ...               NaN
2   1001265  ...               NaN

[3 rows x 42 columns]

In [ ]:
# gli appartamenti che hanno almeno 5 posti letto e che costano tra i 50 $ e 100 $ a notte

result = db.listingsAndReviews.find({"$and" : [{"price" : {'$gt' : 50, '$lt' : 100}}, {"beds" : {'$gt' : 5 }}]})
df4 = pd.DataFrame(list(result))
df4.head(2)

        _id                            listing_url  ... weekly_price monthly_price
0   1111410   https://www.airbnb.com/rooms/1111410  ...          NaN           NaN
1  14234741  https://www.airbnb.com/rooms/14234741  ...          NaN           NaN

[2 rows x 41 columns]

In [ ]:
# gli appartamenti in Portogallo

result = db.listingsAndReviews.find({'address.country_code' : 'PT'})
df5 = pd.DataFrame(list(result))
df5.head(2)[["address"]]

                                             address
0  {'street': 'Porto, Porto, Portugal', 'suburb':...
1  {'street': 'Porto, Porto, Portugal', 'suburb':...

In [ ]:
# gli appartamenti che non si trovano in Portogallo e in Spagna

result = db.listingsAndReviews.find({"address.country_code": {'$not' : {"$in": ["PT", "ES"]}}})
df6 = pd.DataFrame(list(result))
df6.head(2)

        _id  ... reviews_per_month
0  10021707  ...               NaN
1  10059244  ...               NaN

[2 rows x 42 columns]

In [ ]:
# gli appartamenti negli Stati Uniti che hanno il wifi
# ordinare in ordine decrescente sul prezzo per notte e prendere solo i primi 10 appartamenti

result = db.listingsAndReviews.find({"address.country_code": {"$in": ["US"]}})
df7 = pd.DataFrame(list(result))
df7.head(2)

        _id  ... reviews_per_month
0  10021707  ...               NaN
1   1003530  ...               NaN

[2 rows x 42 columns]

In [ ]:
# il numero di appartamenti in Portogallo

result = db.listingsAndReviews.aggregate([ 
                                   { "$match": { "address.country_code": "PT" } }, 
                                   { "$group" : {"_id": "$address.country", "total" : {"$sum" : 1}}} , 
                                    ])
df8 = pd.DataFrame(list(result))
df8.head()

        _id  total
0  Portugal    555

In [ ]:
# il numero di appartamenti nelle varie nazioni

result = db.listingsAndReviews.aggregate([{ "$group" : {"_id": "$address.country", "total" : {"$sum" : 1}}}])
df9 = pd.DataFrame(list(result))
df9.head()

             _id  total
0         Canada    649
1       Portugal    555
2          Spain    633
3  United States   1222
4         Turkey    661

In [ ]:
# le nazioni con più di 600 appartamenti

result = db.listingsAndReviews.aggregate([{ "$group" : {"_id": "$address.country", "total" : {"$sum" : 1}}},
                                          { "$match": { "total": { "$gt": 600 }}}])
df10 = pd.DataFrame(list(result))
df10.head()

             _id  total
0         Brazil    606
1      Australia    610
2         Canada    649
3         Turkey    661
4  United States   1222

In [ ]:
# gli appartamenti che hanno la parola 'beach' nella descrizione (google it...)

result = db.listingsAndReviews.aggregate([
                                          { "$match": { "description": {"$regex" : "beach"}}}])
df11 = pd.DataFrame(list(result))
df11[["description"]]

                                           description
0    The Apartment has a living room, toilet, bedro...
1    This spacious, light filled studio has everyth...
2    Great studio apartment freshly painted and dec...
3    A friendly apartment block where everyone know...
4    Having a large airy living room. The apartment...
..                                                 ...
948  Walk out to Saltwater Infinity Pool! Call us N...
949  Relax and revitalise in our spacious, self-con...
950  Relax Hawaiian Style in Gated Community on Oce...
951  Only 400 metres to the beach,2 x carparks,clos...
952  Excellent private suite with bathroom at the A...

[953 rows x 1 columns]